/* indexpage */
body, html{
	padding:0px;
	margin:0px;
	
	
	
}
.navbar{
	
	margin-bottom:-4px;
}

.spacer{
	margin-top:10px; 
}
.bg{
	width:100%;
	
	background-color:#DD0312;
	-webkit-clip-path: polygon(0 0, 100% 1%, 99% 87%, 0 100%);
clip-path: polygon(0 0, 100% 1%, 99% 92%, 0 100%);

}




 .bg2{
	margin:30px 0px;
	box-shadow: 26px 25px 32px -12px rgba(232,232,232,1);
	
	
}


.bord{
	border:1px solid white;
	
}

.panel-danger , .panel-danger > .panel-heading{
	
	border-color:#cd5669;
}

.panel-danger>.panel-heading {
	font-weight:700;
	
}
.panel{
	
	border-radius:8px;
	box-shadow:3px 6px 1px rgba(0,0,0,0.05);
}

.panel .main{
	box-shadow:6px 8px 16px rgba(0,0,0,1);
}

.mapbtn{
	padding:10px;
	text-transform:uppercase;
	background-color:transparent;
	color:black;
	transition :.6s;
	box-shadow:-2px 2px rgba(0,0,0,0.5);
	font-weight:600;
}

.mapbtn:hover{
	background-color:#B9B9B7;
	box-shadow:none;
	
}

.maporg{
	border-bottom:  2px solid rgba(248,248,248, 0.9);
	border-top:  2px solid rgba(248,248,248, 0.9);
	border-left:  2px solid rgba(248,248,248, 0.9);
	
	margin-bottom:15px;
}

.maporg2{
	border-bottom:  2px solid rgba(248,248,248, 0.9);
	border-top:  2px solid rgba(248,248,248, 0.9);
	border-right:  2px solid rgba(248,248,248, 0.9);
	margin-bottom:15px;
}
	
.allbranch{
	height:590px;
	overflow-y:scroll;
	background-color:#FFF5EE;
	margin: 0px -13px 0px -15px;
	
}
#mapsearch{
		width:90%;
	}
	
#map-canvas{
	width:auto;
	height:590px;
	
	
}
.well{
	margin-bottom:0px;
	background-color:transparent;
	border:none;
}



.btn a{
text-decoration:none;
text-transform:uppercase;

}

.checked {
    color: orange;
	margin-top:14px;
}

.panel-body ul li{
display:inline-block;
padding-left:10px;
}

 .panel-body ul li span{
 padding-left:14px;
 padding-bottom:10px;
 font-size:16px;
 font-weight:bold;
 margin:15px;
 
 }
 
 



.backgd{
background:url(gbs.jpg) no-repeat center;
height:180px;

}
.navbar-dark .navbar-nav .nav-link{

padding-right: 25px;
}

.carousel-control.right{
background-image:none;

}

.carousel-control.left{
background-image:none;

}

.landmark{
text-decoration:underline;

}

.btn{
	padding:0px;
	
}
/* branch page */

.panel-default > .panel-heading{
	padding:25px;
	background-color:#e3ab061f;
	font-weight:bold;
	text-transform:uppercase;
	
	
}

.panel-title {
	
	font-size:20px;
	font-weight:bold;
}

.panel-title span {
	
	color:red;
	font-size:25px;
}

.panel-title a:hover{
	text-decoration:none;
	
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
	    border-top-color: #5252db;
		    background-color: #ecf4fc75;
	
}
.panel-success>.panel-heading{
	text-align:center;
		font-weight: 600;
    font-size: 16px;
}
.panel-success>.panel-body {
	
	line-height:1.7;
	font-size: 16px;
} 

.icon{
float:left;
margin-top:-4px;


}


.sm-cell{
	width:10%;
	
}
.lg-cell{
	width:40%;
}
 
.panel-body a {
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:100;
	color:white;
	display:block;
	padding:10px;
	border:1px solid black;
	    background-color: #17c32896;
	transition:0.3s ease-in;
}

.panel-body p{
	font-size:18px;
	
}
.panel-body a:hover{
	background-color: #75a7a3d1;
	color:white;
}

